dnspython
urllib3<1.24,>=1.21.1
requests
publicsuffix
xmltodict
geoip2
dnspython
imapclient
mail-parser
dateparser
elasticsearch>=6.3.0,<7.0.0
elasticsearch-dsl>=6.2.1,<7.0.0
kafka-python
flake8
sphinx==1.7.9
sphinx_rtd_theme
wheel
rstcheck
