nose
flake8
sphinx
sphinx_rtd_theme
wheel
codecov
tqdm>=4.31.1
rstcheck>=3.3.1
pygments
dnspython>=1.16.0
expiringdict>=1.1.4
urllib3>=1.21.1
requests>=2.2.16.0
publicsuffix2
xmltodict>=0.12.0
geoip2>=2.9.0
imapclient>=2.1.0
mail-parser>=3.9.2
dateparser>=0.7.1
elasticsearch>=6.3.1
elasticsearch-dsl>=0.0.12
kafka-python>=1.4.4