<?xml version="1.0"?>
<feedback>
  <version>1.0</version>
  <report_metadata>
    <org_name>usssa.com</org_name>
    <email>postmaster@usssa.com</email>
    <report_id>8953b4d4a4ee4218b6ac0e2cb2667ee1</report_id>
    <date_range>
      <begin>1538784000</begin>
      <end>1538870399</end>
    </date_range>
  </report_metadata>
  <policy_published>
    <domain>example.com</domain>
    <adkim>r</adkim>
    <aspf>r</aspf>
    <p>none</p>
    <sp>none</sp>
    <pct>100</pct>
    <fo>0</fo>
  </policy_published>
  <record>
    <row>
      <source_ip>12.20.127.40</source_ip>
      <count>1</count>
      <policy_evaluated>
        <disposition>none</disposition>
        <dkim>fail</dkim>
        <spf>fail</spf>
      </policy_evaluated>
    </row>
    <identifiers>
	   <envelope_from></envelope_from>
      <header_from>example.com</header_from>
    </identifiers>
    <auth_results>
    </auth_results>
  </record>
  <record>
    <row>
      <source_ip>199.230.200.36</source_ip>
      <count>1</count>
      <policy_evaluated>
        <disposition>none</disposition>
        <dkim>fail</dkim>
        <spf>fail</spf>
      </policy_evaluated>
    </row>
    <identifiers>
	   <envelope_from></envelope_from>
      <header_from>example.com</header_from>
    </identifiers>
    <auth_results>
    </auth_results>
  </record>
</feedback>
