# Specific file for Python 3.6
name: Python 3.6 tests

permissions:
  contents: read

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      elasticsearch:
        image: elasticsearch:8.18.2
        env:
          discovery.type: single-node
          cluster.name: parsedmarc-cluster
          discovery.seed_hosts: elasticsearch
          bootstrap.memory_lock: true
          xpack.security.enabled: false
          xpack.license.self_generated.type: basic
        ports:
          - 9200:9200
          - 9300:9300

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.6"]

    steps:
    - uses: actions/checkout@v5
    - name: Install Python v3.6
      run: |
        sudo apt-get -q update
        sudo apt-get -qy install make build-essential libssl-dev zlib1g-dev libbz2-dev libreadline-dev libsqlite3-dev wget curl llvm libncurses5-dev libncursesw5-dev xz-utils tk-dev libffi-dev liblzma-dev libgdbm-dev libnss3-dev libedit-dev libc6-dev
        wget --no-verbose https://www.python.org/ftp/python/3.6.15/Python-3.6.15.tgz
        tar -xzf Python-3.6.15.tgz
        cd Python-3.6.15
        ./configure --enable-optimizations --with-lto --with-pydebug
        # https://docs.github.com/en/actions/reference/runners/github-hosted-runners#standard-github-hosted-runners-for-public-repositories
        make -j 4
        sudo make install
        python -V
        sudo update-alternatives --install /usr/bin/python3 python /usr/local/bin/python3.6 1
        sudo update-alternatives --config python << EOF
        1
        EOF
    - name: Python 3.6 compiled
      run: python3.6 -V
    - name: Default python
      run: python -V
    - name: Default python3
      run: python3 -V
    - name: Install system dependencies
      run: |
        sudo apt-get -qy install libemail-outlook-message-perl
    - name: Install Python dependencies
      run: |
        sudo python -m pip install --upgrade pip
        sudo pip install .[build]
    - name: Test building documentation
      run: |
        cd docs
        make html
    - name: Check code style
      run: |
        ruff check .
    - name: Run unit tests
      run: |
        pytest --cov --cov-report=xml tests.py
    - name: Test sample DMARC reports
      run: |
        sudo pip install -e .
        parsedmarc --debug -c ci.ini samples/aggregate/*
        parsedmarc --debug -c ci.ini samples/forensic/*
    - name: Test building packages
      run: |
        hatch build
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
          token: ${{ secrets.CODECOV_TOKEN }}
