name: Python tests

permissions:
  contents: read

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: "3.8"
    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libemail-outlook-message-perl
        wget -qO - https://artifacts.elastic.co/GPG-KEY-elasticsearch | sudo gpg --dearmor -o /usr/share/keyrings/elasticsearch-keyring.gpg
        sudo apt-get install apt-transport-https
        echo "deb [signed-by=/usr/share/keyrings/elasticsearch-keyring.gpg] https://artifacts.elastic.co/packages/8.x/apt stable main" | sudo tee /etc/apt/sources.list.d/elastic-8.x.list
        sudo apt-get update && sudo apt-get install elasticsearch
        sudo systemctl restart elasticsearch
        sudo systemctl --no-pager status elasticsearch
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e '.[dev,docs]'
    - name: Test building documentation
      run: |
        cd docs
        make html
    - name: Check code style
      run: |
        flake8 *.py parsedmarc/*.py
    - name: Run unit tests
      run: |
        coverage run tests.py
        coverage json
    - name: Test sample DMARC reports
      continue-on-error: true
      run: |
        parsedmarc --debug -c ci.ini samples/aggregate/*
        parsedmarc --debug -c ci.ini samples/forensic/*"
    - name: Test building packages
      run: |
        hatch build
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
